.flex-h {
    display: flex;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

nav>a {
    padding: 0 10px;
    border-right: 1px solid grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#social-media>a>img {
    padding-right: 50px;
}