.flex-h {
    display: flex;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

nav>a {
    padding: 0 10px;
    border-right: 1px solid grey;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#social-media>a>img {
    padding-right: 50px;
}

.card-blue{
    height: 200px; background:brown;margin:10px;
    padding: 20px;font-size:14px; color:white;
}

.btn-blue{
    border: 2px solid white;
    background: transparent;
    border-radius:500px;
    padding:4px 12px;
    color: white;
    width: fit-content;
}
 /* ===================================================== carousel ======================================= */
 
.col-md-4{
  display: inline-block;
  margin-left:-4px;
}
.col-md-4 img{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:red;
}
body .carousel-indicators{
  bottom: 0;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
   }


.card-carousel{
  height: 400px;
  /* border: 2px solid black; */
  padding:10px;
}

.card-carousel > img{
  height: 200px;
  margin-bottom: -60px;
}
.card-carousel > div{
  padding: 20px;
  z-index: 3;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  color:red;
}
 /* ===================================================== carousel ======================================= */

 .events-card{
   height: 340px;
   margin:15px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

 }

 .events-card > div{
   padding:24px;
 }

 .events-card > div > div > button{
   background: greenyellow;
 } 

 .events-card:hover{
    transform: scale(1.1);
 }