<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/header.css" />
    <link rel="stylesheet" href="../../static/mainHeader.css" />
    <link rel="stylesheet" href="../../static/campaigns.css" />
    <title>NGO | Campaigns</title>
  </head>

  <body>
    <!-- --------- footer sidebar navbar and logo containers---------- -->
    <div id="navbar">
      <header id="navigation">
        <!-- logo cont. -->
        <div class="logobar">
          <div class="flex-h" id="social-media">
              <img
              class="logo img-fluid"
              src="/icons/logo.jpg"
              alt="logo"
              height="98"
              width="220"
          />
            <a
              href="https://upload.wikimedia.org"
              target="_blank"
              style="margin-left: auto;"
            >
              <img height="30" alt="Twitter icon" src="/icons/twitter.png" />
            </a>
            <a href="https://upload.wikimedia.org" target="_blank">
              <img
                height="30"
                alt="Instagram icon"
                src="/icons/instagram.png"
              />
            </a>
            <a href="https://upload.wikimedia.org" target="_blank">
              <img
                height="30"
                alt="massenger icon"
                src="/icons/icons8-facebook-messenger-480.png"
              />
            </a>
          </div>
        </div>
        <!-- sidebar container-->
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >×</a
          >
          <br />
          <a href="/index" class="hover">Home</a>
          <a href="/about" class="hover">About Us</a>
          <a href="/index" class="hover">Events</a>
          <a href="/campaigns" class="hover">Campaigns</a>
          <a href="/gallary" class="hover">Gallery</a>
          <a href="/contact" class="hover">Contact</a>
          <div class="social-media">
              <a
                href="https://upload.wikimedia.org"
                target="_blank"
                style="margin-left: auto;"
              >
                <img height="30" alt="Twitter icon" src="/icons/twitter.png" />
              </a>
              <a href="https://upload.wikimedia.org" target="_blank">
                <img
                  height="30"
                  alt="Instagram icon"
                  src="/icons/instagram.png"
                />
              </a>
              <a href="https://upload.wikimedia.org" target="_blank">
                <img
                  height="30"
                  alt="massenger icon"
                  src="/icons/icons8-facebook-messenger-480.png"
                />
              </a>
            </div>
        </div>
        <!-- navbar container -->
        <div id="nav">
          <div id="link-container">
            <div id="color-home" class="links">
              <a href="/index">HOME </a>
            </div>
            <div class="dropdown">
              <button id="about" class="about-dropbtn">
                <a href="/about">ABOUT US </a>
              </button>
              <div class="dropdown-content">
                <a href="/mission">Mission</a>
                <a href="/vision" data-offset="90">Vision</a>
                <a href="/history">History</a>
              </div>
            </div>
            <div class="links"><a href="/news">NEWS</a></div>
            <div class="links"><a href="#events">EVENTS</a></div>
            <div class="dropdown">
              <button class="gallary-dropbtn">GALLERY</button>
              <div class="dropdown-content">
                <a href="/gallary">Photos</a>
                <a href="/videos" data-offset="90">Videos</a>
                <a href="/awards">Awards</a>
              </div>
            </div>
            <div class="links">
              <a href="/campaigns" data-offset="90"
                >CAMPAIGNS</a
              >
            </div>
            <div class="links">
              <a href="/contact">CONTACT</a>
            </div>
          </div>
          <div id="main" class="menu-container" onclick="openNav()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>

        <!--main heading of compaigns page -->
      </header>
    </div>
    <div class="header">
      <h2>Campaigns</h2>
      <p>
        <a href="/index"><img src="/icons/home.svg" alt=""/></a>
      </p>
    </div>

    <!-- contents of page -->
    {% for data in obj %}
    <div  class="row">
      <div class="columns">
        <h1>  {‌{ data.campaign_title }}</h1>
        <div class="camp-img">
          <img src="/images/g12.jpg" alt="Snow" style="width:100%" />
        </div>
        <div id="date">22-07-2019</div>
        <p>
         {{data.campaign_text}}
        </p>
        <a href="#"> <button id="btns">Read More</button></a>
      </div>
    </div>
    {% endfor %}
    <div id="two" class="row">
      <div class="columns">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <div class="camp-img">
          <img src="/images/g16.jpg" alt="Snow" style="width:100%" />
        </div>
        <div id="date">22-07-2019</div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rem
          repudiandae cum eos facere veniam pariatur aliquid numquam perferendis
          veritatis, est maxime et assumenda molestias iure repellendus in autem
          nobis minima. Suscipit eius tempore impedit quas obcaecati. Eius
          natus, eos deserunt dolorem doloribus architecto aspernatur,
          repellendus odit commodi beatae nulla!
        </p>
        <a href="#"> <button id="btns">Read More</button></a>
      </div>
    </div>

    <!-- footer -->

    <footer>
      <div id="footerContainer">
        <!-- address container -->
        <div class="column" id="footerlinks">
          <div class="quick">
            <h5>Quick Links?</h5>
            <li><a href="#" class="li">About Us</a></li>
            <li><a href="#" class="li">Contact Us</a></li>
            <li><a href="#" class="li">Links</a></li>
            <li><a href="#" class="li">Join Now</a></li>
          </div>
        </div>
        <div class="column" id="blog">
          <h5>Blogs</h5>
            <div class="blogs">
            <div class="blog-img">
              <img src="/images/bg-4.jpg" alt="_blog" height="60px">
            </div>
            <h6>latest news updates</h6>
           </div>
           <div class="blogs">
             <div class="blog-img">
               <img src="/images/bg-4.jpg" alt="_blog" height="60px">
             </div>
             <h6>latest news updates</h6>
            </div>
          </div>
        <div class="column" id="addressContainer">
          <h5>
            How You Can Reach <br />
            Us ?
          </h5>
          <p>
            232C, M3, Lorem ipsum dolor sit, Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Ducimus, enim!,Lorem ipsum dolor sit
            amet., Bhopal, MP
          </p>
        </div>
      </div>
    </footer>
    <script src="../../static/script.js"></script>
  </body>
</html>
