<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="./work.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>LOTA</title>
</head>

<body class="flex-v">
    <div class="flex-h" style="height: 100px; align-items: center;" id="social-media">
        <a href="https://upload.wikimedia.org" target="_blank" style="margin-left: auto;">
            <img height="60" alt="Twitter icon" src="https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg">
        </a>
        <a href="https://upload.wikimedia.org" target="_blank">
            <img height="60" alt="Instagram icon"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/512px-Instagram_icon.png">
        </a>
        <a href="https://upload.wikimedia.org" target="_blank">
            <img height="60" alt="massenger icon"
                src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Facebook_Messenger_logo.svg">
        </a>
    </div>
    <nav class="flex-h" style="height: 40px; align-items: center; padding-left:100px; background: rgb(30, 110, 19);">
        <a>HOME</a>
        <a>ABOUT</a>
        <a>EVENTS</a>
        <a>NEWS</a>
        <a>GALLERY</a>
        <a>DONATE NOW</a>
        <a>SHOP</a>
        <a>SHORTCODES</a>
        <a>CONTACT</a>
    </nav>
    <div style="height:600px; width:100%;background-image:url('../../static/lone-child.jpg');
    background-size: cover;background-position: center;">
        <div style="margin:160px 60px;">
            <span
                style="font-weight:bolder; font-size: 2.4rem;word-spacing:4px; color:white ; background-color:rgba(0,0,0,0.7); padding:4px 8px;">
                SAVE A CHILD'S FUTURE
            </span>
            <pre style="margin:40px 0px; font-size: 1.2rem ; color:white;">
A Donation Website for all types of Charity

Websites with tons of useful HTML.Elements.
            </pre>
            <button
                style="padding:10px 30px; font: 400 13.3333px Arial; color: white; background-color: rgb(32, 32, 32); border: none;">
                READ MORE
            </button>

        </div>


    </div>
    <div style="padding:40px;" class="flex-h">
        <div class="flex-1 card-blue flex-v">
            <span style="font-size:16px; color:white;">BECOME A VOLUNTEER</span>
            <div style="margin:20px 0px; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </div>
            <div class="flex-1"></div>
            <button class="btn-blue">Join Us Now</button>
        </div>
        <div class="flex-1 card-blue flex-v">
            <span style="font-size:16px; color:white;">ADOPT A CHILD </span>
            <div style="margin:20px 0px; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </div>
            <div class="flex-1"></div>
            <button class="btn-blue">Join Us Now</button>
        </div>
        <div class="flex-1 card-blue">
            <span style="font-size:16px; color:white;">GET INVOLVED</span>
            <div style="margin:20px 0px; ">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </div>
            <div class="flex-1"></div>
            <button class="btn-blue">Join Us Now</button>
        </div>
    </div>
    <div class="flex-h" style="margin: 30px 20px;">
        <div style="margin:20px; padding-left:60px;" class="flex-v flex-1">
            <p style="font-size: 16px; font-weight: bolder;">Welcome To <span style="color:tomato;">Khidmat</span>
                Foundation</p>
            <p>We help Poor children to get their life better.</p>
            <p style="line-height: 24px; margin-bottom:18px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volupta
            </p>
            <button style="padding:8px 16px; color: white;width: fit-content; font-weight: bolder; border:none;
               background-image: linear-gradient(red, rgb(255, 153, 0)); border-radius: 500px;">JOIN US NOW</button>
        </div>
        <div class="flex-1">
            <video width="90%" controls>
                <source src="../../static/mov_bbb.mp4" />
            </video>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px; font-weight: bolder; font-size:18px;">
        FEATURED <span style="color:tomato">CAMPAIGN</span>
    </div>
    <div style=" padding:20px;text-align: center;">

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat.
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul> -->

        <!-- The slideshow -->
        <div class="container carousel-inner no-padding">
            <div class="carousel-item active">
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider1.jpg">
                    <div> featured campaign</div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider2.jpg">
                    <div> featured campaign</div>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider3.jpg">
                    <div> featured campaign</div>

                </div>

            </div>
            <div class="carousel-item">
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider4.jpg">
                    <div> featured campaign</div>

                </div>
                <!--
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider2.jpg">
                    <div>featured campaign</div>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="../../static/slider3.jpg">
                    <div> featured campaign</div>

                </div>
            -->

            </div>
            <!--
            <div class="carousel-item">
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="https://www.gstatic.com/webp/gallery/4.jpg">
                    <div> lota gareeb</div>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="https://www.gstatic.com/webp/gallery/4.jpg">
                    <div> lota gareeb</div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 card-carousel">
                    <img
                        src="https://www.gstatic.com/webp/gallery/4.jpg">
                    <div> lota gareeb</div>
                </div>
            </div>
        -->
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div style="text-align: center; font-size: 20px;">
        Upcoming <span style="color:rgb(29, 238, 29)">Events</span>
    </div>
    <div class="flex-h" style="padding:20px 100px">
        <div class="flex-1 flex-v events-card">
            <img width="100%"
                src="https://www.gstatic.com/webp/gallery/4.jpg">
            <div class="flex-v">
                <span>Helping the church to save others </span>
                <button>Get Ticket</button>
            </div>
        </div>
        <div class="flex-1 flex-v events-card">
            <img width="100%"
                src="https://www.gstatic.com/webp/gallery/4.jpg">
            <div class="flex-v">
                <span>Helping the church to save others </span>
                <div class="flex-h">
                    <i class="material-icons">event</i>
                    <i class="material-icons" style="margin-left: auto;">location_on</i>
                </div>
                <button>Get Ticket</button>
            </div>
        </div>
        <div class="flex-1 flex-v events-card">
            <img width="100%"
                src="https://www.gstatic.com/webp/gallery/4.jpg">
            <div class="flex-v">
                <span>Helping the church to save others </span>
                <button>Get Ticket</button>
            </div>
        </div>
        <div class="flex-1 flex-v events-card">
            <img width="100%"
                src="https://www.gstatic.com/webp/gallery/4.jpg">
            <div class="flex-v">
                <span>Helping the church to save others </span>
                <button>Get Ticket</button>
            </div>
        </div>
    </div>


</body>

</html>