<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/style.css">
    <title>LOTA</title>
</head>

<body class="flex-v">
    <div class="flex-h" style="height: 120px; align-items: center;" id="social-media">
        <a href="https://upload.wikimedia.org" target="_blank" style="margin-left: auto;">
            <img height="60" alt="Twitter icon" src="https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg">
        </a>
        <a href="https://upload.wikimedia.org" target="_blank">
            <img height="60" alt="Instagram icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/512px-Instagram_icon.png">
        </a>
        <a href="https://upload.wikimedia.org" target="_blank">
            <img height="60" alt="massenger icon" src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Facebook_Messenger_logo.svg">
        </a>
    </div>
    <nav class="flex-h" style="height: 40px; align-items: center; padding-left:100px; background: brown;">
        <a>HOME</a>
        <a>ABOUT</a>
        <a>EVENTS</a>
        <a>NEWS</a>
        <a>GALLERY</a>
        <a>DONATE NOW</a>
        <a>SHOP</a>
        <a>SHORTCODES</a>
        <a>CONTACT</a>
    </nav>

</body>

</html>